{% extends "base.html" %}
{% load static %}
{% block page_content %}
<h1>ABOUT</h1>
<div class="row">
    {% for about in About %}
    <div class="col-md-4">
        <div class="card mb-2">
            <div class="card-body">
                <h5 class="card-title">{{ about.role }}</h5>
                <p class="card-text">{{ about.descriptions }}</p>
                <p class="card-text">{{ about.tech}}</p>
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
